@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.btn-add-property {
  width: 170px;
  font-weight: 400;
  @include m.button-variant();

  &:hover {
    background-color: v.$color3;
  }
}
