
@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.search-form {
    background-color: v.$color6;
    border-radius: 10px;
    margin: 0 auto;
  
    h3{
      font-size: 1rem;
    }
  
    input[type="text"],
    input[type="number"],
    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size:14px;
      color: v.$color5;
    }
  
    .form-group {
      margin-bottom:10px;
  
      label {
        font-size:v.$small-text;
        color: v.$color5;
        font-weight: v.$font-weight;
      }
  
      div {
        margin-bottom: 5px;
  
        input[type="radio"] {
          margin-right: 5px;
        }
      }
    }
  
    .price-range {
      display: flex;
      gap: 10px;
  
      input {
        flex: 1;
      }
    }
  
    .btn-search {
      background-color: #ffa726;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      font-size: 1rem;
      text-align: center;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #fb8c00;
      }
      .pi-search{
        font-size: 14px;
        
      }
    }
  }
  