@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.card {
  width: 23rem;
  position: relative;
  @include m.flex();
  .inf {
    width: 84%;
    background-color: v.$color6;
    position: absolute;
    bottom: 30px;
    padding: 20px;
    border-radius: v.$border-radius;
    @include m.shadow($type: box, $val: -1px 2px 3px v.$color5);
    @include m.flex($jc: space-between, $ai: center);
    .card-title {
      font-size: 16px;
    }
    .card-text {
      font-size: v.$small-text;
    }
    .btn {
      font-size: 14px;
      @include m.button-variant(
        $bg: transparent,
        $c: v.$color2,
        $border: 1px solid v.$color2,
        $rd:8px
      );
    }
  }

  @media (min-width: 1024px) {
    width: 26rem;
  }
}
