@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.property {
  background-color: v.$color3;
  @include m.size($w: 80px, $h: 80px);
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
  .property-item {
    width: 200px;
    @include m.flex($fd: column, $jc: center, $ai: center);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h5{
    margin: 0;
  }
  p{
    font-size: 1.275rem;
  }
}
