@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.register {
  background-color: v.$color1;
  .btn {
    width: 170px;
    @include m.button-variant(
      $bg: v.$color4,
      $border: 1px solid v.$color3,
      $c: v.$color2,
      $rd: 8px
    );
  }
}
