@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

footer {
  background-color: v.$color2;
  color: v.$color5;
  padding: 70px 0;

  h3 {
    font-size: 1.425rem;
    font-weight: 400;
  }

  .col-center {
    @include m.flex($jc: start);

    h3 {
      text-align: left;
      margin-left: 15px;
      width: 100%;
    }

    @media (min-width: 992px) {
      @include m.flex($jc: center);
      h3 {
        text-align: center;
        
      }
    }
  }
  .nav {
    @include m.flex($fd: column, $jc: start, $ai: stretch, $gap: 0, $fw: wrap);
    justify-content: start;
    .nav-link {
      color: v.$color5;
    }
  }

  .footer-btn {
    @include m.flex($jc: start, $ai: center, $gap: 15px);
    padding: 0;

    .btn {
      width: 150px;
      @include m.button-variant(
        $bg: v.$color4,
        $border: none,
        $c: v.$color2,
        $rd: 8px
      );
    }
  }
}
